
bin
Bin
obj
sql
*.user
*.suo
*.nupkg
_ReSharper*
dist
output
build
*.dbmdl

*~

*.swp
TestResults
TestResult.xml

Local.testsettings
TraceAndTestImpact.testsettings
GenericRepoWebApp.vsmdi

*.dropbox
desktop.ini
*.publish.xml